<footer class="site-footer">
  <div class="wrapper">
    <img src="/images/cc-by-nc-nd.png" alt="Creative Commons BY-NC-ND"
    width="80" height="15" /> Sébastien Combéfis, 2009–2018.
    {% if page.name %}
    <div id="language">
      <a href="/fr{{ page.path }}">
        <img src="/images/FR.png" alt="Français" width="20" height="13" />
      </a>
      <a href="{{ page.path }}">
        <img src="/images/GB.png" alt="English" width="20" height="13" />
      </a>
    </div>
    {% endif %}
  </div>
</footer>
