<footer class="site-footer">
  <div class="wrapper">
    <img src="/images/cc-by-nc-nd.png" alt="Creative Commons BY-NC-ND"
    width="80" height="15" /> Sébastien Combéfis, 2009–2022.
    {% if page.name %}
    <div id="language">
      <a href="{{ page.path }}">[en]</a>
      <a href="/fr{{ page.path }}">[fr]</a>
    </div>
    {% endif %}
    {% if page.ref %}
    <div id="language">
      {% assign posts = site.posts | where: "ref", page.ref | sort: "language" %}
      {% for post in posts %}
      <a href="{{ post.url }}">[{{ post.language }}]</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</footer>
